body {
    font-family: Arial, sans-serif;
    background-color: #fcfdfc;
    padding: 20px;
  }

  h2 {
    color: #333333;
    /* centrar texto */
    text-align: center;
  }

  form {
    background-color: #b1e0c7;
    border: 1px solid #a3f4c6;
    padding: 20px;
    border-radius: 25px;
    max-width: 400px;
    /* centrar contenido */
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cfffea;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .form-container {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .answer-container {
    max-width: 300px;
  }
  